@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,200,700);
@import url("bootstrap.min.css");

html,body{width:100%;height:100%;}
html { position: relative; min-height: 100%; color: #363A3F;background: #fff;}
body{font-family: 'Titillium Web', Helvetica, sans-serif;}
a:focus, a:hover{text-decoration: none;}
.no-padding{padding:0px;}
.hide{display:none;}

#tool{position: absolute;top: 5px; text-align: center; width: 100%;z-index:100;}
#modelPhoto{position:relative;background-position: center center;background-repeat: no-repeat; background-size: contain; margin: 0 auto;}


/* dock menu */
.dock {	position: relative;height: 50px;text-align: center;}
.dock-container {position: absolute;height: 50px;	padding-left: 20px;}
a.dock-item {display: block;width: 60px;color: #000;position: absolute;bottom: 0px;text-align: center;	text-decoration: none;font: bold 12px Arial, Helvetica, sans-serif; padding:0px 5px;}
.dock-item img {border: none;	margin: 5px 10px 0px;	width: 100%;}
.dock-item span {	display: none;	padding-left: 20px;}

/** loader **/
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media screen and (max-width: 767px){
  canvas{height:500px;background:#ddd;}
  #modelPhoto{height:400px;}
}
@media (min-width: 768px) and (max-width: 991px) {
  canvas{height:500px;background:#ddd;}
  #modelPhoto{height:400px;}
}
@media (min-width: 992px) and (max-width: 1199px) {
  canvas{height:600px;background:#ddd;}
  #modelPhoto{height:400px;}
}
@media (min-width: 992px) and (max-width: 1199px)and (orientation: landscape){
  canvas{height:600px;background:#ddd;}
  #modelPhoto{height:400px;}
}

@media screen and (min-width: 1200px) {
  .main{height:100%;overflow:hidden;}
  .first-row{height:90%;border-bottom:1px solid #ccc;}
  .col-sx{border-right:1px solid #ccc;}
  #draw-canvas{width:100% !important; height:100% !important; z-index:3;}
  #description > .row:first-child{height:60%;}
  #description > .row:nth-child(2){height:38%;}
  #modelDescription { position: relative; height: 90%; border-bottom: 1px solid #ccc; overflow: auto; margin-bottom: 10px;}
  #modelPhoto{height:100%;}
}
